<gridster [options]="options">
    <gridster-item class="widgets-group" [item]="dashboardGroup" *ngFor="let dashboardGroup of dashboardGroups; let i = index">
        <div class="widgets-group__header eui-u-flex eui-u-flex-justify-content-between">
            <div>{{ dashboardGroup.groupTitle }}</div>
            <div>
                <eui-dropdown>
                    <button euiButton euiRounded euiIconButton euiBasicButton euiSecondary [attr.aria-label]="'Menu'">
                        <span euiIcon iconClass="eui-icon eui-icon-ecl-hamburger"></span>
                    </button>
                    <eui-dropdown-content>
                        <div>
                            <button euiDropdownItem (click)="onClick('Menu item 1')">Menu item 1</button>
                            <button euiDropdownItem (click)="onClick('Menu item 2')">Menu item 2</button>
                            <button euiDropdownItem (click)="onClick('Menu item 3')">Menu item 3</button>
                        </div>
                    </eui-dropdown-content>
                </eui-dropdown>
            </div>
        </div>
        <app-widgets-group [group]="dashboardGroup"></app-widgets-group>
    </gridster-item>
</gridster>
