<div class="eui-table__scrollable-wrapper">
    <table euiTable euiTableResponsive [rows]="dataSource" [paginator]="paginator">
        <ng-template euiTemplate="header">
            <tr>
                <th></th>
                <th>Country</th>
                <th>Year</th>
                <th>ISO</th>
                <th>Population</th>
                <th>Capital city</th>
            </tr>
        </ng-template>
        <ng-template let-row let-index="index" euiTemplate="body">
            <tr>
                <td>{{ index + 1 }}</td>
                <td data-col-label="Country" nowrap><span class="eui-flag-icon eui-flag-icon-{{ row.iso.toLowerCase() }} eui-u-mr-s"></span>{{ row.country }}</td>
                <td data-col-label="Year">{{ row.year }}</td>
                <td data-col-label="ISO">{{ row.iso }}</td>
                <td data-col-label="Population">{{ row.population | number }}</td>
                <td data-col-label="Capital city">{{ row.capital }}</td>
            </tr>
        </ng-template>
        <ng-template euiTemplate="footer">
            <tr>
                <td colspan="3" class="text-right"><strong>TOTAL</strong></td>
                <td><strong>{{ totalPopulation | number}}</strong></td>
                <td></td>
            </tr>
        </ng-template>
    </table>
</div>

<eui-paginator #paginator [pageSizeOptions]="[5, 10, 25, 50]" [pageSize]="10"></eui-paginator>
